.blue-home-1 {
    grid-row: 1 / 2;
    grid-column: 10 / 11;
}

.blue-home-2 {
    grid-row: 1 / 2;
    grid-column: 11 / 12;
}

.blue-home-3 {
    grid-row: 2 / 3;
    grid-column: 10 / 11;
}

.blue-home-4 {
    grid-row: 2 / 3;
    grid-column: 11 / 12;
}

.green-home-1 {
    grid-row: 10 / 11;
    grid-column: 1 / 2;
}

.green-home-2 {
    grid-row: 10 / 11;
    grid-column: 2 / 3;
}

.green-home-3 {
    grid-row: 11 / 12;
    grid-column: 1 / 2;
}

.green-home-4 {
    grid-row: 11 / 12;
    grid-column: 2 / 3;
}

.red-home-1 {
    grid-row: 1 / 2;
    grid-column: 1 / 2;
}

.red-home-2 {
    grid-row: 1 / 2;
    grid-column: 2 / 3;
}

.red-home-3 {
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

.red-home-4 {
    grid-area: 2/2/3/3;
}

.yellow-home-1 {
    grid-area: 10/10/11/11;
}

.yellow-home-2 {
    grid-area: 10/11/11/12;
}

.yellow-home-3 {
    grid-area: 11/10/12/11;
}

.yellow-home-4 {
    grid-area: 11/11/12/12;
}