.blue-meta-1 {
    grid-row: 2 / 3;
    grid-column: 6 / 7;
}

.blue-meta-2 {
    grid-row: 3 / 4;
    grid-column: 6 / 7;
}

.blue-meta-3 {
    grid-row: 4 / 5;
    grid-column: 6 / 7;
}

.blue-meta-4 {
    grid-row: 5 / 6;
    grid-column: 6 / 7;
}

.green-meta-1 {
    grid-row: 7 / 8;
    grid-column: 6 / 7;
}

.green-meta-2 {
    grid-row: 8 / 9;
    grid-column: 6 / 7;
}

.green-meta-3 {
    grid-row: 9 / 10;
    grid-column: 6 / 7;
}

.green-meta-4 {
    grid-row: 10 / 11;
    grid-column: 6 / 7;
}

.red-meta-1 {
    grid-area: 6/2/7/3;
}

.red-meta-2 {
    grid-area: 6/3/7/4;
}

.red-meta-3 {
    grid-area: 6/4/7/5;
}

.red-meta-4 {
    grid-area: 6/5/7/6;
}

.yellow-meta-1 {
    grid-area: 6/7/7/8;
}

.yellow-meta-2 {
    grid-area: 6/8/7/9;
}

.yellow-meta-3 {
    grid-area: 6/9/7/10;
}

.yellow-meta-4 {
    grid-area: 6/10/7/11;
}