.field {
    border: 1px solid #000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

.field-1 {
    grid-row: 5 / 6;
    grid-column: 2 / 3;
}

.field-2 {
    grid-row: 5 / 6;
    grid-column: 3 / 4;
}

.field-3 {
    grid-row: 5 / 6;
    grid-column: 4 / 5;
}

.field-4 {
    grid-row: 5 / 6;
    grid-column: 5 / 6;
}

.field-5 {
    grid-row: 4 / 5;
    grid-column: 5 / 6;
}

.field-6 {
    grid-row: 3 / 4;
    grid-column: 5 / 6;
}

.field-7 {
    grid-row: 2 / 3;
    grid-column: 5 / 6;
}

.field-8 {
    grid-row: 1 / 2;
    grid-column: 5 / 6;
}

.field-9 {
    grid-row: 1 / 2;
    grid-column: 6 / 7;
}

.field-10 {
    grid-row: 2 / 3;
    grid-column: 7 / 8;
}

.field-11 {
    grid-row: 3 / 4;
    grid-column: 7 / 8;
}

.field-12 {
    grid-row: 4 / 5;
    grid-column: 7 / 8;
}

.field-13 {
    grid-row: 5 / 6;
    grid-column: 7 / 8;
}

.field-14 {
    grid-row: 5 / 6;
    grid-column: 8 / 9;
}

.field-15 {
    grid-row: 5 / 6;
    grid-column: 9 / 10;
}

.field-16 {
    grid-row: 5 / 6;
    grid-column: 10 / 11;
}

.field-17 {
    grid-row: 5 / 6;
    grid-column: 11 / 12;
}

.field-18 {
    grid-row: 6 / 7;
    grid-column: 11 / 12;
}

.field-19 {
    grid-row: 7 / 8;
    grid-column: 10 / 11;
}

.field-20 {
    grid-row: 7 / 8;
    grid-column: 9 / 10;
}

.field-21 {
    grid-row: 7 / 8;
    grid-column: 8 / 9;
}

.field-22 {
    grid-row: 7 / 8;
    grid-column: 7 / 8;
}

.field-23 {
    grid-row: 8 / 9;
    grid-column: 7 / 8;
}

.field-24 {
    grid-row: 9 / 10;
    grid-column: 7 / 8;
}

.field-25 {
    grid-row: 10 / 11;
    grid-column: 7 / 8;
}

.field-26 {
    grid-row: 11 / 12;
    grid-column: 7 / 8;
}

.field-27 {
    grid-row: 11 / 12;
    grid-column: 6 / 7;
}

.field-28 {
    grid-row: 10 / 11;
    grid-column: 5 / 6;
}

.field-29 {
    grid-row: 9 / 10;
    grid-column: 5 / 6;
}

.field-30 {
    grid-row: 8 / 9;
    grid-column: 5 / 6;
}

.field-31 {
    grid-row: 7 / 8;
    grid-column: 5 / 6;
}

.field-32 {
    grid-row: 7 / 8;
    grid-column: 4 / 5;
}

.field-33 {
    grid-row: 7 / 8;
    grid-column: 3 / 4;
}

.field-34 {
    grid-row: 7 / 8;
    grid-column: 2 / 3;
}

.field-35 {
    grid-row: 7 / 8;
    grid-column: 1 / 2;
}

.field-36 {
    grid-row: 6 / 7;
    grid-column: 1 / 2;
}