// .pawn {
//     &::after {
//         position: absolute;
//         content: "";
//         width: 50%;
//         height: 50%;
//         // background-color: orchid;
//         border: 1px solid #000;
//         cursor: pointer;
//         z-index: 2;
//     }
// }

.pawn {
    font-size: 2.3em;
}

.pawn-active-player-blue {
    &:hover {
        background-color: lighten(blue, 30%) !important;
    }
}

.pawn-active-player-yellow {
    &:hover {
        background-color: lighten(yellow, 30%) !important;
    }
}

.pawn-active-player-green {
    &:hover {
        background-color: lighten(green, 30%) !important;
    }
}

.pawn-active-player-red {
    &:hover {
        background-color: lighten(red, 30%) !important;
    }
}

.fa-chess-pawn {
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: black;
}