@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    background-image: linear-gradient(to left, rgba(191, 192, 209, 0.5), rgba(54, 90, 250, 0.6)), url("../../public/images/background.jpg");
    background-size: cover;
    background-position: center center;
    font-family: 'Poppins', sans-serif;
}