.form {
    width: 100%;
    height: 100%;
    padding: $p-small;
    border-radius: 10px;
    position: relative;
    // box-shadow: 15px 15px 1px $box-shadow-color, 15px 15px 1px 2px rgba(0,0,0,1);

    &__head {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        height: 10%;
        width: 100%;
        font-size: $x-small-font-size;
        border-bottom: $grey-border;

        &-radio-players {
            display: flex;
            align-items: center;
            justify-content: space-evenly;
            width: 100%;
        }
    }

    &__body {
        padding: 0 10px;

        &-player-name {
            width: 100%;
            display: inline-block;
            padding: 5px 20px;
            background: transparent;
            border: none;
            border-bottom: 2px solid $secondary-color;
            color: #999d;
            font-size: $small-font-size;
        
            &::placeholder {
                color: #999d;
                opacity: 0.5;
            }
            
            &:focus {
                outline: none;
                border-bottom: $tertiary-color;
            }
        }
    }

    &__colors {
        width: 100%;
        height: 7rem;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 5px auto;

        &-btn {
            width: 50px;
            height: 50px;
            position: relative;
            margin: 5px;
            border-radius: 50%;
            cursor: pointer;
            border: $black-border;
            outline: none;

            &:hover {
                background-color: #bbb3b3;
            }
            
            &:active {
                outline: none;
            }

            &--red { background-color: red; }
            &--green { background-color: green; }
            &--blue { background-color: blue; }
            &--yellow {background-color: yellow; }
        }
    }

    &__players-list {
        width: 100%;
        height: 13rem;
        display: flex;
        padding: 10px 0;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin: 5px auto 30px auto;
        border: 1px solid #999d;
        border-radius: 10px;
        position: relative;

        &::before {
            content: "players";
            position: absolute;
            left: 50%;
            top: -7%;
            width: 40%;
            background-color: #f7f7f7;
            text-align: center;
            transform: translateX(-50%);
            font-weight: bold;
        }
    }

    &__btn {
        display: block;
        padding: 10px 70px;
        margin: 20px auto 0 auto;
        border: none;
        border: $black-border;
        border-radius: 5px;
        background-color: $tertiary-color;
        // box  -shadow: 5px 5px 1px $box-shadow-color, 5px 5px 1px 2px rgba(0,0,0,1);
        font-size: 18px;
        cursor: pointer;
        transition: background-color 0.3s linear;

        &:hover {
            background-color: darken($tertiary-color, 30%);
        }

        &:active {
            transform: translate(5px, 5px);
            box-shadow: none;
        }

        &:focus {
            outline: none;
        }
    }
}