.notification {
    width: 50%;
    height: 5%;
    border-radius: 5px;
    box-shadow: 0 0 3px rgba(0,0,0,.3);
    border: 1px solid #000;
    position: absolute;
    left: 50%;
    top: -20%;
    transform: translateX(-50%);
    transition: all .3s linear;
    display: flex;
    align-items: center;
    justify-content: center;

    &.translated {
        top: 3%;

        &.error {
            box-shadow: 0 0 4px rgba(255, 0, 0, .5);
            border: 2px solid rgb(255, 0, 0);
            color: rgb(255, 0, 0);
        }

        &.success {
            box-shadow: 0 0 4px rgba(0, 128, 0, .5);
            border: 2px solid rgb(0, 128, 0);
            color: rgb(0, 128, 0);
        }
    }
}