// font color 
$font-color: #bfc0d1;

// colors
$primary-color: #5466b8;
$secondary-color: #bfc0d1;
$tertiary-color: #f7f765;
//success-color;
//error-color;

// padding
$p-small: 1rem; 
$p-medium: 2rem;
$p-big: 3rem;

// margin
$m-small: 1rem; 
$m-medium: 2rem;
$m-big: 3rem;

// font size
$heading-font-size: 3rem;
$x-small-font-size: 1rem;
$small-font-size: 1.5rem;
$medium-font-size: 2rem;
$big-font-size: 2.5rem;

// box shadow color
$box-shadow-color: #095334;

// border 
$grey-border: 2px solid $secondary-color;
$black-border: 2px solid #000;